body {
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #1a1625;
    color: white;
  }
  
  .container-planos {
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha */
    gap: 30px; 
    justify-content: center;
    padding: 20px;
    width: 100%; /* Garante que a div ocupe toda a largura */
  }
  
  h2 {
    text-align: center;
    color: #1444ac;
    margin: 0 0 30px 0; /* Remove a margem superior e ajusta a inferior */
    width: 100%; /* Garante que o título ocupe toda a largura disponível */
  }
  
  .card {
    flex: 1 1 calc(50% - 40px); /* ocupa 50% menos o gap, permite quebrar */
    background-color: #1c1c2e;
    color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    max-width: 400px; /* limita o tamanho máximo do card */
  }
  
  .card h3 {
    color: #00bfff;
    margin-bottom: 10px;
  }
  
  .card ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .card li {
    margin-bottom: 8px;
  }

  p {
    color: #00bfff;
    font-size: 2rem;
  }

  .plano-limite {
    text-align: center;
    color:#1444ac;
  }

  .fala-planos {
    text-align: center;
    color: #00bfff;
    margin: 0 0 30px 0; 
    width: 100%; 
  }

  .btn-criar-conta {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    border: 2px solid #1444ac;
    border-radius: 8px;
    color: white;
    background-color: transparent;
    text-decoration: center;
    transition: 0.3s;
    font-weight: bold;
  }

  .btn-criar-conta:hover {
    background-color: #00bfff;
  }

  .ver-execucoes-container {
    text-align: center;
    margin-top: 40px;
  }
  
  .btn-ver-execucoes {
    background-color: #007bff; 
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-ver-execucoes:hover {
    background-color: #0056b3;
  }

  .fala-planos {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #c0e8ff;
    margin-bottom: 40px;
    padding: 0 20px;
    line-height: 1.6;
    background: linear-gradient(90deg, #1444ac 0%, #00bfff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
  }
  
  