<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TeceGym - Aulas On</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-hora.css') }}">
</head>
<body>
    <section class="horarios">
      <h1>Marcar aulas Online</h1>

      <div class="semana">
          <div class="dia">
              <h2>Judô</h2>
              <p>Terça-feira || 16:00</p><br>
              <p><a class="marcar-btn">Marcar</a></p>
          </div>

          <div class="dia">
              <h2>Jiu-jítsu</h2>
              <p>Quarta || 19:00</p><br>
              <p><a class="marcar-btn">Marcar</a></p>
          </div>

          <div class="dia">
              <h2>Box</h2>
              <p>Segunda e Sexta || 20:00</p><br>
              <p><a class="marcar-btn">Marcar</a></p>
          </div>

      </div>
    </section>
</body>
</html>
