<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TeceGym - Plano de Manter a massa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-dieta.css') }}">
</head>
<body>
  <section class="objetivo">
    <h1>Dieta para manter a massa muscular</h1>

    <section class="dieta">
        <h1>Plano de Manter a massa magra</h1>
        
        <div class="plano">
          <div class="refeicao">
            <h2>Café da Manhã</h2>
            <p>2 ovos cozidos ou mexidos + 1 fatia de pão integral com queijo branco + 1 copo de suco natural ou café sem açúcar</p>
          </div>
      
          <div class="refeicao">
            <h2>Almoço</h2>
            <p>1 filé médio de frango ou carne + 2 colheres de arroz + feijão + Salada e legumes variados</p>
          </div>
      
          <div class="refeicao">
            <h2>Lanche</h2>
            <p>1 iogurte + granola + Fruta ou barra de proteína leve</p>
          </div>
      
          <div class="refeicao">
            <h2>Jantar</h2>
            <p>Omelete com vegetais ou arroz + frango em menor porção + Salada leve</p>
          </div>
        </div>
      
        <a href="/objetivos" class="btn-voltar">Escolher outro objetivo</a>
      </section>
    </div>
  </section>
</body>
</html>
