<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TeceGym - Plano de Emagrecimento</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-dieta.css') }}">
</head>
<body>
  <section class="objetivo">
    <h1>Dieta para emagrecer</h1>

    <section class="dieta">
        <h1>Plano de Emagrecimento</h1>
        
        <div class="plano">
          <div class="refeicao">
            <h2>Café da Manhã</h2>
            <p>1 fatia de pão integral ou 2 col. de aveia + 1 ovo cozido ou mexido sem óleo + 1 fruta (maçã ou banana) + Chá verde ou café sem açúcar</p>
          </div>
      
          <div class="refeicao">
            <h2>Almoço</h2>
            <p>1 filé grelhado (frango/peixe) + Salada verde à vontade com azeite + 2 colheres de arroz integral + 1 de feijão + Legumes cozidos</p>
          </div>
      
          <div class="refeicao">
            <h2>Lanche</h2>
            <p>1 iogurte natural ou 1 fruta + Mix de castanhas (pequena porção)</p>
          </div>
      
          <div class="refeicao">
            <h2>Jantar</h2>
            <p>Omelete com legumes ou sopa leve de legumes com frango + Salada com atum ou ovo cozido</p>
          </div>
        </div>
      
        <a href="/objetivos" class="btn-voltar">Escolher outro objetivo</a>
      </section>
    </div>
  </section>
</body>
</html>
