<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TeceGym - Plano de Ganhar massa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-dieta.css') }}">
</head>
<body>
  <section class="objetivo">
    <h1>Dieta para ganhar massa muscular</h1>

    <section class="dieta">
        <h1>Plano de aumentar massa magra</h1>
        
        <div class="plano">
          <div class="refeicao">
            <h2>Café da Manhã</h2>
            <p>3 ovos mexidos com aveia ou pão integral + 1 copo de vitamina com banana, pasta de amendoim e leite + 1 porção de frutas (mamão, morango)</p>
          </div>
      
          <div class="refeicao">
            <h2>Almoço</h2>
            <p>1 filé grande de carne magra ou frango + 3 colheres de arroz + 1 concha de feijão + Salada + batata-doce ou macarrão integral + Ovo cozido ou extra de proteína</p>
          </div>
      
          <div class="refeicao">
            <h2>Lanche</h2>
            <p>Sanduíche de pão integral com frango desfiado ou atum + 1 fruta + pasta de amendoim + Whey protein (opcional)</p>
          </div>
      
          <div class="refeicao">
            <h2>Jantar</h2>
            <p>Refeição parecida com o almoço (proteína + carboidrato) + Arroz, frango grelhado e legumes cozidos + Batata-doce ou massa integral (quantidade moderada)</p>
          </div>
        </div>
      
        <a href="/objetivos" class="btn-voltar">Escolher outro objetivo</a>
      </section>
    </div>
  </section>
</body>
</html>
