<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TeceGym - Plano de Emagrecimento</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-dieta.css') }}">
</head>
<body>
  <section class="objetivo">
    <h1>Dieta para emagrecer</h1>

    <section class="dieta">
        <h1>Plano de Emagrecimento</h1>
        
        <div class="plano">
          <div class="refeicao">
            <h2>Café da Manhã</h2>
            <p>Omelete + Aveia + Café sem açúcar</p>
          </div>
      
          <div class="refeicao">
            <h2>Almoço</h2>
            <p>Frango grelhado + Salada verde + Arroz integral</p>
          </div>
      
          <div class="refeicao">
            <h2>Lanche</h2>
            <p>Iogurte natural + Amêndoas</p>
          </div>
      
          <div class="refeicao">
            <h2>Jantar</h2>
            <p>Sopa de legumes + Peito de frango desfiado</p>
          </div>
        </div>
      
        <a href="/objetivos" class="btn-voltar">Escolher outro objetivo</a>
      </section>
    </div>
  </section>
</body>
</html>
