<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TeceGym - Consulta de Horários</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-hora.css') }}">
</head>
<body>
    <section class="horarios">
      <h1>Horários de Funcionamento</h1>

      <div class="semana">
          <div class="dia">
              <h2>Segunda-feira</h2>
              <p>05:00 - 23:00</p>
          </div>

          <div class="dia">
              <h2>Terça-feira</h2>
              <p>05:00 - 23:00</p>
          </div>

          <div class="dia">
              <h2>Quarta-feira</h2>
              <p>05:00 - 23:00</p>
          </div>

          <div class="dia">
              <h2>Quinta-feira</h2>
              <p>05:00 - 23:00</p>
          </div>

          <div class="dia">
              <h2>Sexta-feira</h2>
              <p>05:00 - 22:00</p>
          </div>

          <div class="dia">
              <h2>Sábado</h2>
              <p>08:00 - 18:00</p>
          </div>

          <div class="dia">
              <h2>Domingo</h2>
              <p>08:00 - 16:00</p>
          </div>
      </div>
    </section>
</body>
</html>
