<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TeceGym - Escolher Objetivo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-objetivo.css') }}">
</head>
<body>
  <section class="objetivo">
    <h1>Qual o seu objetivo?</h1>
    <div class="botoes">
      <a href="/dieta_emagrecer" class="botao">Emagrecer</a> 
      <a href="/dieta_ganhar_massa" class="botao">Ganhar Massa</a>
      <a href="/dieta_manter_peso" class="botao">Manter Peso</a><br><br>

      <a href="/pagina-inicial" class="botao-voltar">Voltar para a página inicial</a> 
    </div>
  </section>
</body>
</html>
