<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeceGym - Personal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-personal.css') }}">
</head>
<body>
  <header>
    <h1>Escolha o seu futuro Personal</h1>
  </header>

  <main class="container">
    <div class="personal-card">
      <img src="static/img/personal-tc.jpg" alt="Foto do Personal" class="personal-img">
      <div class="personal-info">
        <h2>🔥 Gustavo Tecedora Candido</h2>
        <p><strong>Especialidade: </strong>Hipertrofria Condicionamento e Emagrecimento</p>
        <p>Com foco em resultados reais, Gustavo é o especialista que vai te ajudar a conquistar o shape de Zeus, seja para ganhar massa, definir ou emagrecer.</p>
        <p>💪 Treinos pesados | 🏋️‍♂️ Força, resistência e definição | 0% Motivação, 100% Disciplina 🔥</p>
        <p><strong>Pronto para transformar seu corpo e alcançar novos limites?</strong></p>
        <p><strong>Contato:</strong> gustavotccandido@gmail.com | (11) 940855443</p>
        <a href="mailto:gustavotccandido@gmail.com" class="contact-btn">Falar com o Tecedora</a>
    </div>
    </div><br><br>

  <main class="container">
    <div class="personal-card">
      <img src="static/img/personal-rodrigo.png" alt="Foto do Personal" class="personal-img">
      <div class="personal-info">
        <h2>Rodrigo Martins</h2>
        <p><strong>Especialidade:</strong> Hipertrofia e Condicionamento</p>
        <p>Mais de 10 anos de experiência ajudando alunos a atingirem seus objetivos com treinos personalizados e acompanhamento dedicado.</p>
        <p>🕐 +10 anos de experiência | 💪 Resultados reais | 🧠 Treinos inteligentes</p>
        <p><strong>Contato:</strong> rodrigo@tecegym.com | (11) 99999-9999</p>
        <a href="mailto:rodrigo@tecegym.com" class="contact-btn">Falar com o Rodrigo Martins</a>
    </div>
    </div><br><br>

    <main class="container">
        <div class="personal-card">
          <img src="static/img/personal-marcela.png" alt="Foto do Personal" class="personal-img">
          <div class="personal-info">
            <h2>Marcela Dantes</h2>
            <p><strong>Especialidade:</strong> Treinamento para Hipertrofia e Alta Performance</p>
            <p>Marcela vai além do básico, ela te guia com precisão, inspira com atitude e constrói cada treino sob medida para seus objetivos. Com ela, disciplina e superação andam lado a lado.</p>
            <p>🌟 Transformações reais todos os dias | 🧭 Acompanhamento de perto | 🏋️‍♀️ Rotinas feitas pra você evoluir</p>
            <p><strong>Contato:</strong> marceladantes@tecegym.com | (11) 99999-9999</p>
            <a href="mailto:marceladantes@tecegym.com" class="contact-btn">Falar com a Marcela Dantes</a>
        </div>
        </div>

        <main class="container">
            <div class="personal-card">
              <img src="static/img/personal-yan.png" alt="Foto do Personal" class="personal-img">
              <div class="personal-info">
                <h2>Yan Santos</h2>
                <p><strong>Especialidade:</strong> Emagrecimento</p>
                <p>Chega de promessas vazias. Com o Yan, o foco é em resultados reais e sustentáveis. Ele une técnica, empatia e motivação para te ajudar a eliminar peso com saúde, equilíbrio e constância.</p>
                <p>🕐 +10 anos transformando vidas | 🥗 Foco no bem-estar | 🏃‍♂️ Acompanhamento completo</p>
                <p><strong>Pronto pra recomeçar com o pé direito?</strong></p>
                <p><strong>Contato:</strong> santosyan@tecegym.com | (11) 99999-9999</p> 
                <a href="mailto:rodrigo@tecegym.com" class="contact-btn">Falar com o Yan Santos</a>
            </div>
            </div><br><br>

            <main class="container">
                <div class="personal-card">
                  <img src="static/img/personal-tathiane.png" alt="Foto do Personal" class="personal-img">
                  <div class="personal-info">
                    <h2>Tathiane Alves</h2>
                    <p><strong>Especialidade:</strong> Emagrecimento</p>
                    <p>Foque no que realmente importa: treinos que se encaixam no seu estilo de vida, acompanhamento contínuo e estratégias para perder peso com saúde e sem sofrimento. Tathiane é a coach que vai te ajudar a alcançar a melhor versão de si mesma!</p>
                    <p>🌱 Estratégias inteligentes | 💪 Resultados duradouros | 💙 Cuidados personalizados</p>
                    <p><strong>Vamos juntos transformar o seu corpo e sua vida?</strong></p>
                    <p><strong>Contato:</strong> tathialves@tecegym.com | (11) 99999-9999</p>
                    <a href="mailto:rodrigo@tecegym.com" class="contact-btn">Falar com a Tathiane Alves</a>
                </div>
                </div><br><br>

                    <main class="container">
                        <div class="personal-card">
                          <img src="static/img/personal-pedro.png"alt="Foto do Personal" class="personal-img">
                          <div class="personal-info">
                            <h2>Pedro Alcantara</h2>
                            <p><strong>Especialidade:</strong> Hipertofria</p>
                            <p>Pedro é o profissional que vai te ajudar a conquistar músculos sólidos e definição, com treinos personalizados e acompanhamento dedicado para resultados duradouros.</p>
                            <p>💡 Estratégias personalizadas | 🏋️‍♂️ Aumento de massa muscular | ❤️ Cuidados individuais</p>
                            <p><strong>Contato:</strong> pedroalcan@tecegym.com | (11) 99999-9999</p>
                            <a href="mailto:rodrigo@tecegym.com" class="contact-btn">Falar com o Pedro Alcantara</a>
                        </div>
                        </div><br><br>

                        <a href="/pagina-inicial" class = "btn-sair">Sair</a>
  </main>
</body>
</html>
