<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TeceGym - Plano de Treinos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-plano.css') }}">
</head>
<body>
    <div class="container-planos">
      <h2>🏋️ Planos de treino</h2>

      <p class="fala-planos">Os melhores exercícios, divididos por grupo muscular, prontos para você alcançar seus objetivos!</p>

    <div class ="card">
        <h3>Costas</h3>
        <ul>
            <li>Remada baixa</li>
            <li>Puxada alta</li>
            <li>Pulldown</li>
            <div class="ver-execucoes-container">
                <a href="/execucoes/costas" class="btn-ver-execucoes">Ver execuções</a>
              </div> 
        </ul>
    </div>

        <div class = "card">
            <h3>Posterior</h3>
            <ul>
                <li>Cadeira flexora</li>
                <li>Mesa flexora</li>
                <li>Stiff</li>
                <div class="ver-execucoes-container">
                    <a href="/execucoes/posterior" class="btn-ver-execucoes">Ver execuções</a>
                  </div> 
            </ul>
        </div>

        <div class ="card">
            <h3>Triceps</h3>
            <ul>
                <li>Triceps barraV</li>
                <li>Francês</li>
                <li>Triceps testa</li>
                <div class="ver-execucoes-container">
                    <a href="/execucoes/triceps" class="btn-ver-execucoes">Ver execuções</a>
                  </div> 
            </ul>
        </div>
    </div>
  </div>
  <p class="container-fala">
    Pronto para evoluir? → <a href="{{ url_for('cadastro_form') }}" class="btn-criar-conta">Junte-se a nós!</a>
  </p>  
</body>
</html>
