<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>TeceGym - Plano de Treinos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-plano.css') }}">
</head>
<body>
    <div class="container-planos">
      <h2>🏋️ Planos de treino</h2>

      <p class="fala-planos">Os melhores exercícios, divididos por grupo muscular, prontos para você alcançar seus objetivos!</p>
    
    <div class="card">
      <h3>Peito</h3>
      <ul>
        <li>Supino Reto</li>
        <li>Supino Inclinado</li>
        <li>Voador</li>
        <div class="ver-execucoes-container">
            <a href="/execucoes/peito" class="btn-ver-execucoes">Ver execuções</a>
          </div>          
      </ul>
    </div>

    <div class ="card">
        <h3>Costas</h3>
        <ul>
            <li>Remada baixa</li>
            <li>Puxada alta</li>
            <li>Pulldown</li>
            <div class="ver-execucoes-container">
                <a href="/execucoes/costas" class="btn-ver-execucoes">Ver execuções</a>
              </div>   
        </ul>
    </div>

    <div class ="card">
        <h3>Quadríceps</h3>
        <ul>
            <li>Agachamento Hack</li>
            <li>Cadeira extensora</li>
            <li>LegPress</li>
            <div class="ver-execucoes-container">
                <a href="/execucoes/quadriceps" class="btn-ver-execucoes">Ver execuções</a>
              </div>   
        </ul>
    </div>

        <div class = "card">
            <h3>Posterior</h3>
            <ul>
                <li>Cadeira flexora</li>
                <li>Mesa flexora</li>
                <li>Stiff</li>
                <div class="ver-execucoes-container">
                    <a href="/execucoes/posterior" class="btn-ver-execucoes">Ver execuções</a>
                  </div> 
            </ul>
        </div>

        <div class ="card">
            <h3>Tríceps</h3>
            <ul>
                <li>Tríceps Pulley</li>
                <li>Tríceps Francês</li>
                <li>Triceps Testa</li>
                <div class="ver-execucoes-container">
                    <a href="/execucoes/triceps" class="btn-ver-execucoes">Ver execuções</a>
                  </div> 
            </ul>
        </div>

            <div class ="card">
                <h3>Bíceps</h3>
                <ul>
                    <li>Rosca 45º</li>
                    <li>Rosca Martelo</li>
                    <li>Rosca Scott</li>
                    <div class="ver-execucoes-container">
                        <a href="/execucoes/biceps" class="btn-ver-execucoes">Ver execuções</a>
                      </div> 
                </ul>
            </div>

            <div class ="card">
                <h3>Antebraço</h3>
                <ul>
                    <li>Rosca Martelo</li>
                    <li>Rosca na polia pegada neutra</li>
                    <div class="ver-execucoes-container">
                        <a href="/execucoes/antebraço" class="btn-ver-execucoes">Ver execuções</a>
                      </div> 
                </ul>
            </div>

            <div class ="card">
                <h3>Panturrilha</h3>
                <ul>
                    <li>Gêmeos em pé</li>
                    <li>Gêmeos Sentado</li>
                    <div class="ver-execucoes-container">
                        <a href="/execucoes/panturrilha" class="btn-ver-execucoes">Ver execuções</a>
                      </div> 
                </ul> 
            </div>

            <div class ="card">
                <h3>Abdómen</h3>
                <ul>
                    <li>Prancha</li>
                    <li>Abdominal</li>
                    <li>Abdominal Bike</li>
                    <div class="ver-execucoes-container">
                        <a href="/execucoes/abdomen" class="btn-ver-execucoes">Ver execuções</a>
                      </div> 
                </ul>
            </div>

            <div class="card">
                <h3>Deltoide</h3>
                <ul>
                  <li>Desenvolvimento</li>
                  <li>Voador Invertido</li>
                  <li>Elevação Lateral</li>
                  <div class="ver-execucoes-container">
                      <a href="/execucoes/deltoide" class="btn-ver-execucoes">Ver execuções</a>
                    </div>          
                </ul>
              </div>
    </div>
  </div>
</body>
</html>
